@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');

body {
	background-color: lightgray;
	font-weight: normal;
	font-style: normal;
	font-size: 1rem;
	font-family: helvetica, arial, sans-serif;
}
h1 {
	border-bottom: 0.125rem solid black;
	font: 500 normal 2.5rem 'Roboto', helvetica, arial, sans-serif;
}